<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>WSL</key>
	<dict>
		<key>integrations</key>
		<dict/>
	</dict>
	<key>application</key>
	<dict>
		<key>adminAccess</key>
		<false/>
		<key>autoStart</key>
		<true/>
		<key>debug</key>
		<false/>
		<key>extensions</key>
		<dict>
			<key>allowed</key>
			<dict>
				<key>enabled</key>
				<false/>
				<key>list</key>
				<array/>
			</dict>
			<key>installed</key>
			<dict>
				<key>docker/disk-usage-extension</key>
				<string>0.2.7</string>
				<key>docker/logs-explorer-extension</key>
				<string>0.2.2</string>
			</dict>
		</dict>
		<key>hideNotificationIcon</key>
		<false/>
		<key>pathManagementStrategy</key>
		<string>manual</string>
		<key>startInBackground</key>
		<true/>
		<key>telemetry</key>
		<dict>
			<key>enabled</key>
			<false/>
		</dict>
		<key>updater</key>
		<dict>
			<key>enabled</key>
			<false/>
		</dict>
		<key>window</key>
		<dict>
			<key>quitOnClose</key>
			<false/>
		</dict>
	</dict>
	<key>containerEngine</key>
	<dict>
		<key>allowedImages</key>
		<dict>
			<key>enabled</key>
			<false/>
			<key>patterns</key>
			<array/>
		</dict>
		<key>name</key>
		<string>moby</string>
	</dict>
	<key>containers</key>
	<dict>
		<key>namespace</key>
		<string>default</string>
		<key>showAll</key>
		<true/>
	</dict>
	<key>diagnostics</key>
	<dict>
		<key>mutedChecks</key>
		<dict/>
		<key>showMuted</key>
		<false/>
	</dict>
	<key>experimental</key>
	<dict>
		<key>containerEngine</key>
		<dict>
			<key>webAssembly</key>
			<dict>
				<key>enabled</key>
				<false/>
			</dict>
		</dict>
		<key>kubernetes</key>
		<dict>
			<key>options</key>
			<dict>
				<key>spinkube</key>
				<false/>
			</dict>
		</dict>
		<key>virtualMachine</key>
		<dict>
			<key>mount</key>
			<dict>
				<key>9p</key>
				<dict>
					<key>cacheMode</key>
					<string>mmap</string>
					<key>msizeInKib</key>
					<integer>128</integer>
					<key>protocolVersion</key>
					<string>9p2000.L</string>
					<key>securityModel</key>
					<string>none</string>
				</dict>
				<key>type</key>
				<string>reverse-sshfs</string>
			</dict>
			<key>proxy</key>
			<dict>
				<key>address</key>
				<string></string>
				<key>enabled</key>
				<false/>
				<key>noproxy</key>
				<array>
					<string>0.0.0.0/8</string>
					<string>10.0.0.0/8</string>
					<string>127.0.0.0/8</string>
					<string>169.254.0.0/16</string>
					<string>172.16.0.0/12</string>
					<string>192.168.0.0/16</string>
					<string>224.0.0.0/4</string>
					<string>240.0.0.0/4</string>
				</array>
				<key>password</key>
				<string></string>
				<key>port</key>
				<integer>3128</integer>
				<key>username</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>qemu</string>
			<key>useRosetta</key>
			<false/>
		</dict>
	</dict>
	<key>images</key>
	<dict>
		<key>namespace</key>
		<string>default</string>
		<key>showAll</key>
		<true/>
	</dict>
	<key>kubernetes</key>
	<dict>
		<key>enabled</key>
		<false/>
		<key>ingress</key>
		<dict>
			<key>localhostOnly</key>
			<false/>
		</dict>
		<key>options</key>
		<dict>
			<key>flannel</key>
			<true/>
			<key>traefik</key>
			<true/>
		</dict>
		<key>port</key>
		<integer>6443</integer>
		<key>version</key>
		<string>1.31.6</string>
	</dict>
	<key>portForwarding</key>
	<dict>
		<key>includeKubernetesServices</key>
		<false/>
	</dict>
	<key>version</key>
	<integer>14</integer>
	<key>virtualMachine</key>
	<dict>
		<key>memoryInGB</key>
		<integer>16</integer>
		<key>numberCPUs</key>
		<integer>6</integer>
	</dict>
</dict>
</plist>
