#
# GIT Ignore
#
# * Version: 1.1.0
# * Template: 2.0.1
#

#
# Main
#

/build/*
/lib/*
/logs/*
/tmp/*
/vault/*
/.local.env
/.secrets.env

/.vscode

#
# Project specific exclusions
#

# Remove next line if home content should be git tracked
/var/prof/*/home

# Use to test new content without affecting git repo
/etc/prof/sandbox
/var/prof/sandbox

# Keep placeholder for empty directories
!/**/.gitkeep
